<section class="mt-5">
  <form id="contact-form" class="text-center mx-auto" style="width: 100%; max-width: 300px">
    <h2>Contact us</h2>

    
    <div class="form-outline mb-4">
      <label class="form-label" for="name" style="margin-left: 0px;">Nom</label>
      <input type="text" id="name" name="name" class="form-control">
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 42.4px;"></div><div class="form-notch-trailing"></div></div></div>

    
    <div class="form-outline mb-4">
      <label class="form-label" for="email" style="margin-left: 0px;">Adresse Email</label>
      <input type="email" id="email" name="email" class="form-control">
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

    
    <div class="form-outline mb-4">
      <label class="form-label" for="message" style="margin-left: 0px;">Message</label>
      <textarea class="form-control" id="message" name="message" rows="4"></textarea>
    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 60px;"></div><div class="form-notch-trailing"></div></div></div>

    
    <button class="btn btn-warning btn-block mb-4">Envoyer</button>
  </form>
</section>