<h1 class="text-center mb-4 mt-4">TEAM</h1>

    <div class="container text-left">
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="width: auto">
          <%=image_tag("animal1.jpg", alt: "Example image")%>
            
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Suscipit odit iure earum dolorum quia nulla corrupti omnis,
                sapiente fugiat consequuntur, eum, voluptatum commodi error ea
                voluptates quibusdam culpa iste adipisci!
              </p>
              <cite title="Source Title">FREDERIC SEGUIER.</cite>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="width: auto">
            <%=image_tag("animal2.jpg", alt: "Example image")%>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Exercitationem explicabo molestiae, qui et numquam molestias,
                atque dolorem ratione delectus laudantium sed obcaecati iste hic
                totam nesciunt laborum nam dolores quaerat!
              </p>
              <cite title="Source Title">REGNAULT MELVIN.</cite>
            </div>
          </div>
        </div>
      </div>
    </div>